cache/
node_modules/
map/*.tif
map/*.shp
map/*.shx
map/*.prj
map/*.zip
map/*.aux.xml
cache/*.tif
cache/*.shp
cache/*.shx
cache/*.prj
airports/
map/generic.map
map/generic2.map
map/nfwf_cloud4.map
limitshapefiles/
